* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body{
    font-family: 'Work Sans', sans-serif;
    background: #fdfdfd;

  }
  
  .container{
    width: 70%;
    height: 50vh;
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: column; 
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 22%, rgba(242,253,45,0.9868989832261029) 100%);

  }  
  .content{
    margin: 15px auto;
  
 } 
 h4{
     font-size: 30px;
     margin: 65px auto 15px auto;
 }
 p{
     font-size: 30px;
     font-weight: 400;
     margin-top: 10px;
     text-align: center;
 }
 
@media (max-width: 767px) {
  .container{
    width: 90%;
}
h4{
  font-size: 20px;
  margin: 65px auto 15px auto;
}
p{
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

}
@media (max-width: 421px) {
  .container{
    width: 90%;
}
h4{
  font-size: 16px;
  margin: 65px auto 15px auto;
}
p{
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

}
